{% extends "index.html" %}
{% block content %}


<form action="#" method="POST">
    <div class="form-row">
     
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" placeholder="Type item title">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" name="description" placeholder="Item Description">
    </div>
   
    
    <div class="form-row">
      <form action="#" method = 'post'>
        <div class="form-group">
            <label for="catagory">Catagory</label>
            <select name="catagory" class="form-control">
              <option selected>Choose Catagory</option>
              {% for c in catagories %}
              <option >{{c.name}}</option>
    
            {% endfor%}
    
              <option>...</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Add</button>
            <a class="btn btn-primary" href="{{url_for('showCatagories')}}">Back</a>
        </div>
    
   
    
  </form>
    

    {% endblock %}