{% extends "index.html" %}
{% block content %}


<div class="container">
    <div class="jumbotron" >
        
        <h2>{{item.title}} </h2>
        <p>{{item.description}}</p>
        <a href="{{url_for('editItem', item_id=item.id)}}"><button class="btn btn-primary">Edit</button></a>
        <a class="btn btn-danger" href="{{url_for('deleteItem', item_id = item.id)}}">Delete</a>
        <a href="{{url_for('showCatagories')}}"><button class="btn btn-primary">Back</button></a>
       
    </div>
        
  </div>
    

    {% endblock %}